<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">

	<insert id="adduser" parameterType="user">
		insert into userinfo
		(useremail, userpass, usernickname) values
		(#{userEmail},#{userPass},#{userNickname})
	</insert>

	<select id="selectuserone" parameterType="string"
		resultType="user">
		select * from userinfo where useremail = #{value}
	</select>

	<select id="selectuseronebynickname" parameterType="string"
		resultType="user">
		select * from userinfo where usernickname = #{value}
	</select>

	<!-- 닉네임 업데이트 -->
	<update id="updatenickname" parameterType="map">
		update userinfo set
		usernickname= #{userNickname} where useremail = #{userEmail}
	</update>

	<!-- 비밀번호 업데이트 -->
	<update id="updatepass" parameterType="map">
		update userinfo set
		userpass= #{userPass} where useremail = #{userEmail}
	</update>

	<!-- 회원탈퇴 -->
	<delete id="deleteuser">
		delete from userinfo where useremail = #{value}
	</delete>
	
	<!-- 유저가 작성한 보드 -->
	<select id="usersmusicboard" resultType="mboard"
		parameterType="map">
		select * from (select rownum ronum, a.* from (select
		to_char(m.boarddate,'yyyy/mm/dd') as datechange, m.*, u.usernickname
		from userinfo u, musicboard m where m.useremail
		= u.useremail and
		bdtype = #{bdType}
		and m.useremail = #{userEmail}
		order by m.boarddate
		desc)a) where ronum BETWEEN #{start} and #{end}
	</select>

	<!-- 유저가 작성한 보드 카운트 -->
	<select id="userboardcount" resultType="int"
		parameterType="string">
		select
		COUNT(*) from userinfo u, musicboard m where
		m.useremail
		= u.useremail and bdtype = #{bdType}
		and m.useremail =
		#{userEmail}
	</select>



	<!-- 유저가 좋아요 누른 보드 -->
	<select id="userslikemusicboard" resultType="mboard"
		parameterType="map">
		select * from (select rownum ronum, a.* from (
		select
		m.*, u.usernickname from userinfo u, musicboard m, boardlike l
		where
		m.useremail =
		u.useremail and m.no = l.boardno and bdtype =
		#{bdType}
		and
		l.useremail = #{userEmail} order by m.boarddate desc)a)
		where ronum
		BETWEEN #{start} and #{end}
	</select>

	<!-- 유저가 좋아요 누른 보드 카운트 -->
	<select id="userlikeboardcount" resultType="int"
		parameterType="string">
		select
		COUNT(*) from userinfo u, musicboard m, boardlike
		l where m.useremail
		= u.useremail and m.no = l.boardno and bdtype =
		#{bdType}
		and m.useremail = #{userEmail}
	</select>
</mapper>